/* Fonts */

@font-face {
  font-family: Spotify-Circular-bl;
  src: url('../app-fonts/Circular\ Font\ Family/CircularStd-Black.ttf');
}

@font-face {
  font-family: Spotify-Circular-b;
  src: url('../app-fonts/Circular\ Font\ Family/CircularStd-Book.ttf');
}

@font-face {
  font-family: Spotify-Circular-m;
  src: url('../app-fonts/Circular\ Font\ Family/CircularStd-Medium.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;
  font-weight: 600 !important;
  letter-spacing: 0.78px;
  text-decoration: none;
}

/* html adjustments */

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

/* App styles */

.app {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.app main.main-app {
  background: linear-gradient(0deg, #181818 80%, #212121);
  position: relative;
  overflow-y: scroll;
  height: 90%;
}

.app main.main-app::-webkit-scrollbar {
  width: 14px;
}

.app main.main-app::-webkit-scrollbar-thumb:hover {
  background: #787878ff;
}

.app main.main-app::-webkit-scrollbar-thumb {
  width: 14px;
  background: #78787890;
  border-top: 2px solid #1c1c1c;
  border-right: 2px solid #1c1c1c;
  border-bottom: 2px solid #1c1c1c;
}

/* Side bar */

.app main.main-app nav.sidebar {
  background: #000000;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 90%;
  width: 280px;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.app main.main-app nav.sidebar a.sidebar-link-home {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  margin-top: 8px;
  padding: 13px;
  padding-left: 18px;
}

.app main.main-app nav.sidebar a.sidebar-link-home svg {
  max-width: 104px;
}

.app main.main-app nav.sidebar ul.sidebar-links {
  margin: 8px;
  padding: 4px;
  padding-bottom: 14px;
  border-bottom: 1px solid #28282860;
}

.app main.main-app nav.sidebar::-webkit-scrollbar {
  width: 11px;
}

.app main.main-app nav.sidebar::-webkit-scrollbar-thumb {
  width: 11px;
  background: #787878;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.app main.main-app nav.sidebar ul.sidebar-links li {
  display: block;
  list-style: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background-color 0.05s ease-in;
  -webkit-transition: background-color 0.05s ease-in;
  -moz-transition: background-color 0.05s ease-in;
  -ms-transition: background-color 0.05s ease-in;
  -o-transition: background-color 0.05s ease-in;
}

.app main.main-app nav.sidebar ul.sidebar-links li.active {
  background: #282828;
}

.app main.main-app nav.sidebar ul.sidebar-links li a:hover,
.app main.main-app nav.sidebar ul.sidebar-links li.active a {
  color: #ffffff;
}

.app main.main-app nav.sidebar ul.sidebar-links li a {
  cursor: default !important;
  display: flex;
  align-items: center;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 0.78rem;
  padding: 6px 12px;
  transition: color 0.15s ease-in;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -ms-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
}

.app main.main-app nav.sidebar ul.sidebar-links li div {
  transition: background-color 0.15s ease-in;
  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -ms-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
}

.app main.main-app nav.sidebar ul.sidebar-links li a svg {
  max-width: 20px;
}

.app main.main-app nav.sidebar ul.sidebar-links li a span {
  margin-left: 12px;
}

.app main.main-app nav.sidebar ul.sidebar-links li.new-set {
  margin-top: 24px;
}

.app main.main-app nav.sidebar ul.sidebar-links li.new-set:hover div {
  background: #ffffff !important;
}

.app main.main-app nav.sidebar ul.sidebar-links li.new-set div {
  align-items: center;
  background: #b3b3b3;
  border-radius: 1px;
  color: #000000;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.app main.main-app nav.sidebar ul.sidebar-links li.liked-songs a svg {
  color: transparent;
  fill: #b3b3b3;
  transition: fill 0.15s ease-in;
  -webkit-transition: fill 0.15s ease-in;
  -moz-transition: fill 0.15s ease-in;
  -ms-transition: fill 0.15s ease-in;
  -o-transition: fill 0.15s ease-in;
}

.app main.main-app nav.sidebar ul.sidebar-links li.liked-songs:hover svg {
  fill: #ffffff !important;
}

.app main.main-app nav.sidebar ul.sidebar-links li.liked-songs:hover div {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.app main.main-app nav.sidebar ul.sidebar-links li.liked-songs div {
  align-items: center;
  background: linear-gradient(135deg, #450af5, #afd6c2);
  border-radius: 1px;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
}

.app main.main-app nav.sidebar ul.sidebar-links li.your-episodes:hover div {
  background: #087e66;
}

.app main.main-app nav.sidebar ul.sidebar-links li.your-episodes div {
  background: #055746;
  align-items: center;
  border-radius: 2px;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.app main.main-app nav.sidebar ul#playlists {
  margin: 8px;
  padding: 4px;
  padding-bottom: 14px;
  height: 50%;
  overflow-y: auto;
}

.app main.main-app nav.sidebar ul#playlists li {
  display: block;
  list-style: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  align-items: center;
}

.app main.main-app nav.sidebar ul#playlists li:hover a {
  color: #ffffff;
}

.app main.main-app nav.sidebar ul#playlists li a {
  cursor: default !important;
  display: block;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 0.78rem;
  padding: 6px 12px;
  transition: color 0.15s ease-in;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -ms-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
}

.app main.main-app nav.sidebar ul#playlists::-webkit-scrollbar {
  width: 11px;
}

.app main.main-app nav.sidebar ul#playlists::-webkit-scrollbar-thumb {
  width: 11px;
  background: #787878;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.app main.main-app nav.sidebar section.install {
  padding-left: 16px;
  padding-bottom: 12px;
}

.app main.main-app nav.sidebar section.install a {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  font-size: 0.78rem;
  transition: color 0.15s ease-in;
  -webkit-transition: color 0.15s ease-in;
  -moz-transition: color 0.15s ease-in;
  -ms-transition: color 0.15s ease-in;
  -o-transition: color 0.15s ease-in;
}

.app main.main-app nav.sidebar section.install a:hover {
  color: #ffffff;
}

.app main.main-app nav.sidebar section.install a:hover svg {
  fill: #ffffff;
}

.app main.main-app nav.sidebar section.install a svg {
  fill: #b3b3b3;
  max-width: 20px;
  transition: fill 0.15s ease-in;
  -webkit-transition: fill 0.15s ease-in;
  -moz-transition: fill 0.15s ease-in;
  -ms-transition: fill 0.15s ease-in;
  -o-transition: fill 0.15s ease-in;
}

.app main.main-app nav.sidebar section.install a span {
  margin-left: 12px;
}

.spacer {
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
  width: 280px;
  z-index: -2;
}

section#main-interface {
  display: flex;
}

.app main.main-app .inner-interface {
  width: calc(100% - 278px);
  color: #b3b3b3;
  padding: 20px;
}

.app main.main-app .inner-interface p {
  font-weight: 400 !important;
}

/* Top bar */

.app main.main-app section#top-bar {
  position: fixed;
  display: flex;
  z-index: 0;
  top: 0;
  right: 0;
  background: #08080800;
  height: 9vh;
  width: calc(100% - 280px);
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  z-index: 999;
  transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s EASE-IN;
  -moz-transition: background-color 0.1s EASE-IN;
  -ms-transition: background-color 0.1s EASE-IN;
  -o-transition: background-color 0.1s EASE-IN;
}

.app main.main-app section#top-bar.opaqueBar {
  background: #080808fe !important;
}

.app main.main-app section#top-bar a.focus-arrows {
  color: #ffffff;
  background: #000000;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 4px;
}

.app main.main-app section#top-bar a.focus-arrows svg {
  position: relative;
  top: 4px;
}

.app main.main-app section#top-bar a.focus-arrows svg polyline {
  stroke: #b3b3b3 !important;
  stroke-width: 1.1px;
}

.app main.main-app section#top-bar .t-functions {
  display: flex;
  align-items: center;
}

.app main.main-app section#top-bar .t-functions button#get-premium {
  border: 1px solid #b3b3b3;
  background: transparent;
  outline: none !important;
  padding: 8px 34px;
  text-transform: uppercase;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
  transition: border-color 0.15s ease-in;
  -webkit-transition: border-color 0.15s ease-in;
  -moz-transition: border-color 0.15s ease-in;
  -ms-transition: border-color 0.15s ease-in;
  -o-transition: border-color 0.15s ease-in;
}

.app main.main-app section#top-bar .t-functions button#get-premium.inner-space {
  margin-right: 24px;
}

.app main.main-app section#top-bar .t-functions button#get-premium.pro-user {
  display: none;
}

.app main.main-app section#top-bar .t-functions button#get-premium:hover {
  border-color: #ffffff;
}

.app main.main-app section#top-bar .t-functions button#get-premium a {
  color: #eeeeee;
  font-size: 0.78rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  font-family: 'Spotify-Circular-bl', serif;
}

.app main.main-app section#top-bar .t-functions .connectivity-status {
  position: relative;
  display: inline-block;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status.user-online {
  display: none;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  a#icon-internet {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #2e77d0;
  border: none;
  border-radius: 50%;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 12px;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  a#icon-internet
  svg {
  fill: #ffffff;
  max-width: 20px;
  width: 20px;
}

.app main.main-app section#top-bar .t-functions .connectivity-status .tool-tip {
  display: none;
  position: absolute;
  margin-top: 20px;
  right: -20px;
  background: #2e77d0;
  width: 300px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 0 16px #00000080;
  padding: 14px;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  .tool-tip.visible {
  display: flex;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  .tool-tip::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 38px;
  width: 15px;
  height: 15px;
  background: #2e77d0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  .tool-tip
  span {
  font-family: 'Spotify-Circular-b', sans-serif;
  color: #ffffff;
  font-weight: 400 !important;
  font-size: 0.9rem;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  .tool-tip
  a {
  color: #ffffff;
  font-size: 0.7rem;
  display: flex;
  align-items: flex-start;
  margin-left: 12px;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  .connectivity-status
  .tool-tip
  a
  svg {
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
}

.app main.main-app section#top-bar .t-functions section.user-settings {
  display: inline-block;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: none;
  outline: none !important;
  background: #000000;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.15s ease-in;
  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -ms-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle:hover,
.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle.active {
  background: #181818;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle
  .wrapper {
  width: 28px;
  max-width: 28px;
  height: 28px;
  max-height: 28px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 2px;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle
  img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle
  span {
  display: inline-block;
  color: #ffffff;
  font-family: 'Spotify-Circular-b', sans-serif;
  color: #ffffff;
  font-weight: 400 !important;
  font-size: 0.78rem;
  min-width: 100px;
  padding-right: 2px;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle
  a#show-options {
  margin-right: 2px;
  padding-right: 2px;
  color: #ffffff;
}

.top-spacer {
  display: block;
  width: 100%;
  height: 10vh;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  button.user-toggle
  a#show-options
  svg {
  fill: #ffffff;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  ul#user-account {
  display: none;
  position: absolute;
  right: 24px;
  margin-top: 10px;
  width: 200px;
  background: #282828;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 2px 0;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  ul#user-account.panel-visible {
  display: block !important;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  ul#user-account
  li {
  list-style: none;
  padding: 12px 8px;
  margin: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.05s ease-in;
  -webkit-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  -ms-transition: all 0.05s ease-in;
  -o-transition: all 0.05s ease-in;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  ul#user-account
  li:hover {
  background: #383838;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  ul#user-account
  li
  a {
  padding: 0 4px;
  display: flex;
  color: #eeeeee;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 0.78rem;
  font-weight: 200 !important;
  font-family: 'Spotify-Circular-b', serif;
}

.app
  main.main-app
  section#top-bar
  .t-functions
  section.user-settings
  ul#user-account
  li
  a
  svg {
  fill: #b3b3b3;
}

.app .offline-wrapper {
  display: block;
  background: linear-gradient(0deg, #181818 80%, #212121);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 280px);
  height: calc(100% - 10vh);
  z-index: 990;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .offline-wrapper.user-connected {
  display: none;
}

.app .offline-wrapper svg {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%) scale(4.5);
  -webkit-transform: translateX(-50%) scale(4.5);
  -moz-transform: translateX(-50%) scale(4.5);
  -ms-transform: translateX(-50%) scale(4.5);
  -o-transform: translateX(-50%) scale(4.5);
  fill: #ffffff;
  margin-bottom: 48px;
  stroke-width: 0.01px;
}

.app .music-interface {
  margin-top: 9vh;
}

.app .music-interface section#userProfile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 280px);
  height: calc(100% - 10vh);
  overflow-y: auto;
  background: linear-gradient(180deg, #093957 30%, #0a4970);
}

.app .music-interface section#userProfile.active {
  display: block !important;
}

.app .music-interface section#userProfile .container {
  display: flex;
  align-items: flex-end;
  padding: 24px;
}

.app .music-interface section#userProfile .container .img-container {
  display: inline;
  position: relative;
  width: 240px;
  max-width: 240px;
  max-height: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 44px #000000cc;
  object-fit: contain;
  object-position: top;
}

.app
  .music-interface
  section#userProfile
  .container
  .img-container
  .choose-img {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000090;
  z-index: 99999;
}

.app
  .music-interface
  section#userProfile
  .container
  .img-container:hover
  .choose-img {
  display: flex;
}

.app
  .music-interface
  section#userProfile
  .container
  .img-container:hover
  .choose-img
  h4 {
  user-select: none;
}

.app
  .music-interface
  section#userProfile
  .container
  .img-container
  .choose-img
  svg {
  fill: #eeeeee;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.app .music-interface section#userProfile .container .img-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.app .music-interface section#userProfile .container .content-container {
  margin-left: 24px;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  h4.small-text {
  color: #ffffff;
  font-size: 0.79rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  h2#profile-name {
  font-size: 6.4rem;
  margin-bottom: 8px;
  letter-spacing: -2.5px;
  word-spacing: -5px;
  color: #ffffff;
  font-family: 'Spotify-Circular-bl', sans-serif;
  font-weight: 900 !important;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  .user-stats {
  margin-bottom: 16px;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  .user-stats
  span.user-stat {
  position: relative;
  margin-right: 12px;
  font-size: 0.94rem;
  color: #aaaabb;
  font-family: 'Spotify-Circular-b', sans-serif;
  font-weight: 200 !important;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  .user-stats
  span.user-stat::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background: #cccccc;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  .user-stats
  span.user-stat.following,
.app
  .music-interface
  section#userProfile
  .container
  .content-container
  .user-stats
  span.user-stat.followers {
  color: #ffffff;
}

.app
  .music-interface
  section#userProfile
  .container
  .content-container
  .user-stats
  span.user-stat:last-child::before {
  display: none;
}

/* Bottom bar */

.app section.bottom-bar {
  position: relative;
  background: #121212;
  border-top: 1px solid #181818;
  height: 10%;
}
